/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page:is(.theme_light) > .header span {
  display: block;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --theme-color: #FF0070;
  --menu-color: #FF0070;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --content-header-color: #FF0070;
  --rectangle-color: #FF0070;
  --button-hover: #FF007066;
  --header-color: #DB00FF;
  --main-font: 'IBM Plex mono', sans-serif;
}
