/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: 0 10px;
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ---------------------------HEADER--------------------------- */

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  justify-items: end;
  min-height: 100vh;
  margin-block-end: 40px;
  padding-block: 10px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 0;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--rectangle-color, #FF0070);
  border-inline-end: 1px solid var(--rectangle-color, #FF0070);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--rectangle-color, #FF0070);
  border-inline-start: 1px solid var(--rectangle-color, #FF0070);
}

.header span {
  position: absolute;
  margin: 0;
  padding: 0;
  color: var(--theme-color, #FF0070);
  inset-inline-end: 0px;
  inset-block-start: 10px;
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.header span::after {
  content: '';
  margin: 0;
  padding: 0;
  display: inline-block;
  inline-size: 12px;
  block-size: 12px;
  margin-inline-start: 9px;
  margin-inline-end: 8px;
  background-color: var(--theme-color, #FF0070);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--theme-color, #FF0070));
  animation: blinking 3s infinite linear;
}

@keyframes blinking {
  
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

.header__theme-menu {
  margin: 0;
  color: var(--menu-color, #FF0070);
  margin-block-start: 65px;
  margin-block-end: auto;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  height: 26px;
  padding: 0 13px;
  background-color: initial;
  border: none;
  text-align: center;
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--menu-color, #FF0070) ;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover, #FF007066);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-color, #FF0070);
}

.header__title {
  justify-self: start;
  color: var(--header-color, #DB00FF);
  text-shadow: 4px 4px 0px var(--theme-color, #FF0070);
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

.header__description {
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-block-start: auto;
  margin-block-end: calc(66px - 10px);
}

/* ---------------------------MAIN--------------------------- */

.content {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 40px;
}

.content__text-block {
  display: grid;
  grid-template-rows: repeat(auto-fit ,minmax(min-content, max-content));
  gap: 20px;
}

.content__header,
.content__sub-header {
  color: var(--content-header-color, #FF0070);
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.content__card {
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  line-height: 23.4px; /* 130% */
  font-style: normal;
}

.content__card-title {
  margin-block-end: 10px;
  font-weight: 700;
  font-size: inherit;
}

.content_card-description {
  font-weight: 400;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--theme-color, #FF0070);
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color, #F1B2CE);
}

.text-link:hover {
  text-decoration: underline;
}

.content__card-sub-title {
  margin-block-end: 10px;
  font-weight: 400;
}

.content__gallery {
  display: grid;
  grid-template-rows: repeat(auto-fit ,minmax(min-content, max-content));
  gap: 10px;
}

.content__gallery-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--accent-text-color, #000028);
}

/* ---------------------------FOOTER--------------------------- */

.footer {
  margin: 0;
  position: relative;
  min-height: 100vh;
  display: flex;
}

.footer__title {
  color: var(--header-color, #DB00FF);
  text-shadow: 2px 2px 0px var(--theme-color, #FF0070);
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  margin: auto;
}

/* ---------------------------MEDIA--------------------------- */

@media(width >= 768px) {
  
  .page {
    padding: 0 20px;
  }
  
  .decorated-zone::before {
    inset-inline-end: 0;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
  }

  .header {
    margin-block-end: 60px;
    padding-block: 20px;
  }

  .header span {
    inset-block-start: 20px;
  }

  .header__theme-menu {
    margin-block-start: calc(192px - 20px);
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    transform: translateX(-20px);
  }

  .header__description {
    width: 364px;
    margin-block-end: calc(183px - 20px);
  }

  .content {
    gap: 80px;
    margin-block-end: 60px;
  }

  .two-column-block {
    grid-template-columns: 236px auto;
  }
  
  .two-column-block .content__header {
    grid-row: span 2;
  }

  .two-column-block .content__card {
    grid-column-start: 2;
  }

  .diff-column-block .content__header {
    inline-size: 236px;
  }

  .content__gallery {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 20px;
  }

  .content__gallery .content__header {
    grid-column: span 3;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }
  
  .tape {
    grid-row: span 2;
  }

  .street {
    grid-column: span 2;
  }

  .footer {
    padding-block: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}

@media(width >= 1024px) {
  
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0px;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .header__description {
    inline-size: 491px;
    margin-block-end: calc(134px - 20px);
  }

  .two-column-block {
    grid-template-columns: 315px auto;
  }
  
  .diff-column-block {
    grid-template-columns: repeat(3, minmax(315px, max-content));
  }

  .diff-column-block .content__header {
    inline-size: 315px;
  }

  .diff-column-block .content__card {
    grid-row-start: 2;
  }

}