/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: 0 10px;
  color: var(--text-color);
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ---------------------------HEADER--------------------------- */

.header {
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  margin-block-end: 40px;
  padding-block: 10px;
}

.header::before {
  content: '';
  margin-inline-start: auto;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--text-color);
  border-inline-end: 1px solid var(--text-color);
}

.header::after {
  content: '';
  margin-inline-end: auto;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--text-color);
  border-inline-start: 1px solid var(--text-color);
}

.header span {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.header span::after {
  content: '';
  display: inline-block;
  inline-size: 12px;
  block-size: 12px;
  margin-inline-start: 9px;
  margin-inline-end: 8px;
  background-color: var(--text-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px #FF0070);
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 40px;
  margin-block-end: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  height: 26px;
  padding: 0 13px;
  background-color: initial;
  border: none;
  text-align: center;
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--text-color);
}

.header__title {
  justify-self: start;
  color: var(--header-color);
  text-shadow: 4px 4px 0px #FF0070;
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  margin-block-end: 55px;
}

.header__description {
  justify-self: end;
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-block-end: 31px;
}

.title-decor {
  background-color: var(--text-color);
  color: var(--accent-color);
}

/* ---------------------------MAIN--------------------------- */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 40px;
}

.content__text-block {
  display: grid;
  grid-template-rows: repeat(auto-fit ,minmax(min-content, max-content));
  gap: 20px;
}

.content__header,
.content__sub-header {
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.content__card {
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: 18px;
  line-height: 23.4px; /* 130% */
  font-style: normal;
}

.content__card-title {
  margin-block-end: 10px;
  font-weight: 700;
  font-size: inherit;
}

.content_card-description {
  color: #F1B2CE;
  font-weight: 400;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0px #FF0070;
}

.content__card-sub-title {
  margin-block-end: 10px;
  font-weight: 400;
}

.content__gallery {
  display: grid;
  grid-template-rows: repeat(auto-fit ,minmax(min-content, max-content));
  gap: 10px;
}

.content__gallery-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* ---------------------------FOOTER--------------------------- */

.footer {
  padding-block-start: 10px;
}

.footer__title {
  color: var(--header-color);
  text-shadow: 2px 2px 0px #FF0070;
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  margin: 286px auto;
}

/* ---------------------------MEDIA--------------------------- */

@media (min-width: 768px) {
  
  .page {
    padding: 0 20px;
  }
  
  .header {
    margin-block-end: 60px;
    padding-block: 20px;
  }

  .header span {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
  
  .header span::after {
    content: '';
    margin-inline-end: 7px;
  }

  .header__theme-menu {
    margin-block-start: 146px;
    margin-block-end: 173px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    transform: translateX(-20px);
    margin-block-end: 163px;
  }

  .header__description {
    width: 364px;
    margin-block-end: 139px;
  }

  .content {
    gap: 80px;
  }

  .two-column-block {
    grid-template-columns: 236px auto;
  }
  
  .two-column-block .content__header {
    grid-row: span 2;
  }

  .two-column-block .content__card {
    grid-column-start: 2;
  }

  .one-column-block .content__header {
    inline-size: 236px;
  }

  .content__gallery {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 20px;
  }

  .content__gallery .content__header {
    grid-column: span 3;
  }

  .content__gallery-img:nth-child(2) {
    grid-column: span 2;
  }

  .content__gallery-img:nth-child(3) {
    grid-row: span 2;
  }
  
  .content__gallery-img:nth-child(4) {
    grid-row: span 2;
  }

  .content__gallery-img:nth-child(6) {
    grid-column: span 2;
  }

  .footer {
    padding-block-start: 20px;
  }

  .footer__title {
    margin: 463px auto;
    text-align: center;
  }
}