/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 10px;
  color: var(--text-color);
  font-family: var(--main-font);
  width: 375px;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
}

.header::before {
  content: '';
  margin-inline-start: auto;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--text-color);
  border-inline-end: 1px solid var(--text-color);
}

.header::after {
  content: '';
  margin-inline-end: auto;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--text-color);
  border-inline-start: 1px solid var(--text-color);
}

.header span {
  position: absolute;
  inset-inline-end: 38px;
}

.header span::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: #FF0070;
  position: absolute;
  inset-block-start: 7px;
  margin-inline-start: 5px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px #FF0070);
}

.header__theme-menu {
  justify-self: end;
  margin-block-end: 65px;
}

.header__theme-menu-button {
  background-color: initial;
  border: none;
}

.header__title {
  justify-self: start;
  color: var(--header-color);
  text-shadow: 4px 4px 0px #FF0070;
  font-family: var(--main-font, sans-serif);
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  margin-block-end: 55px;
}

.header__description {
  justify-self: end;
  background-color: var(--text-color);
  color: var(--accent-color);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}